/* FirstPart */


.firstPart{
    display: flex;
    padding-top: 72px;
}

.firstPart .pics{
    display: grid;
    
    position: relative;
}
.pics .bottom__pic{
    
   

}

.pics .top__pic{
    position: absolute;
    
}

  