@media(max-width:1280px){
    
 .wrapper__header .headerMiddlePart{
    margin: 0 5%;
 }
.firstPart{
    flex-direction: column-reverse;
}
.secondPart{
    flex-direction: column-reverse;
    
}
.ninethPart{
    margin-left: 5%;
    margin-right: 5%;
}
.seventhPart .advantages {
    
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    
    row-gap: 5%;
}
.seventhPart{
    height: auto;
}
.wrapper__sixthPart .sixthPart{
    flex-direction: column-reverse;
    align-items: center;
}
.sixthPart img{
    max-width: 100%;
    height: auto;
}
.ninethPart .advantages{
    flex-wrap: wrap;
    justify-content: space-around;
}
.ninethPart .advantages .advantageElement{
    margin-bottom: 3%;
    height: auto;
}
.booksPart{
    flex-direction: column;
    align-items: center;
}
.bookElement{
    max-width: fit-content;
}
.seventhPart .advantages .element{
    max-width:240px;
    padding-bottom: 5%;

}
.advantagesAgain{
    padding: 15% 10% 0 10%;
    margin-top: 15vh;
}
.advantagesAgain ul{
    align-items:center ;  
}
.pics .bottom__pic {
    margin: 0 auto;
    position: relative;
}
.pics .top__pic__titles {
    position: absolute;
    top: 40%;
    left: 11%;
}
.pictures__wrapper{
    margin: 0 auto;
}

.WomanGraph{
    margin: 0 auto;
}
.womanSecondPart{
    max-width: 100%;
    height: auto;
    position: relative;
}
.wrapper__sixthPart{
    padding: 15% 10%;
}
.img__advantage img{
    max-width: 100%;
    height: auto;
}
.pics .bottom__pic img{
    max-width: 100%;
    height: auto;
    position: relative;
}
.fifthPart{
    flex-direction: column;
    margin: 0 5%;
}
.fifthPart .img5thPart {
    padding: 0;
}
.fifthPart .img5thPart img{
    max-width: 100%;
    height: auto;
}
.fifthPart .title h2{
    line-height: 1.1em;
    padding-bottom: 5%;
}
.firstPart .pics{
    margin-right: 0;
    margin-bottom: 10%;
    display:flex;
}
.graph__advantages .graph__pic img{
max-width: 100%;
height: auto;
}
.graph__advantages .graph__pic{
    max-width: 100%;
    height: auto;
}

.pictures__wrapper .graph__advantages {
    padding: 5% ;
}
.titles__advantages{
    margin: 0 5%;
    padding-top: 5%;
}

}

@media(max-width:430px){
    .headerMiddlePart h1{
        font-size: 10vw;
    }
    .middleP{
        font-size: 5vw;
    }
    .wrapper__header{
        padding-bottom: 15%;
    }
    .header .links{
        display: flex;
        flex-direction: column;
        max-width: fit-content;
        margin: 0 auto;
        padding-top: 10%;
        gap: 10px;
    }
    .sixthPart .titles .picAndParagraph{
        flex-direction: column;
        text-align: center;
    }
    .titles__advantages h2{
        font-size: 28px;
        text-align: center;
    }
    .advantagesAgain h2 {
        padding-top: 20px;
    }
    
}
@media(max-width:1031px){
    .header-logo{
        margin-left: 0;
        flex-direction: row-reverse;
    }
    .logoMenu{
        padding-left: 8%;
        padding-right: 8%;
    }
    footer .upperElements{
        flex-direction: column;
        margin: 0 auto;
        text-align: center;
        gap: 2em;
        
    }
    footer .upperElements .logoTitle {
        justify-content: center;
    }
    footer .upperElements .contacs {
        margin: 0 auto;
    }
    footer .upperElements .arrow{
        display: none;
    }
    .pictures__wrapper .graph__advantages{
        max-width: fit-content;
        position: absolute;
        
        top: 60%;
        left: 11%;
    }
}
@media(max-width:800px){
    .fourthPart {
        flex-direction: column;
    }
    .fourthPart .title{
        width: fit-content;
        padding: 40px;
    }
    .fourthPart .img4thPart{
        margin: 0 auto;
    }
    .fourthPart .img4thPart img{
        max-width: 100%;
        height: auto;
    }
    .header__burger__btn {
        display: block;
        margin-top: 12px;
      }
      .header-navigation{
        width: 250px;
        padding-top: 50px;
        background-color: rgb(6, 76, 104);
        left: -250px;
        top: 0;
        position: absolute;
        flex-direction: column;
        transition: transform.5s;
      }
      .header-nav-link{
        font-size: 20px;
        color: azure;
      }
      .header-navigation li{
        padding: 12px 20px;
      }
      .logoMenu.open .header-navigation{
        transform: translateX(100%);
      }
      


      }

@media(max-width:550px){
    .advantagesAgain ul li{
        width: fit-content;
    }
    .advantagesAgain h2{
        line-height: 1.2em;
        text-align: center;
        font-weight: bold;
        font-size: 26px;
    }
    .ninethPart h2{
        word-break: break-word;
    }
    .advantagesAgain{
        margin-top: 10em;
    }

}
@media(max-width:460px){
    .secondPart{
        margin-top: 31vw;
    }
    .ninethPart h2{
        word-break: break-word;
    }
}

@media(max-width:950px){

}