.secondPart{
    display: flex;
}
.advantagesAgain{
    padding-right: 72px;
    padding-top: 120px;
}
.advantagesAgain h2{
    padding-bottom: 48px;
    font-size: 36px;
    line-height: 150%;
    letter-spacing: 3.2%;
    color: #1F1F1F;
}

.advantagesAgain  .li__first__child{
 background-color: #1A2B3B;
 color: #FFFFFF;
}

.advantagesAgain ul{
    display: flex;
    flex-direction: column;
}
.advantagesAgain ul li{
    padding:  16px 32px;margin-bottom: 32px;
    max-width: 491px;
    width: 491px;
    border-radius: 5px;
}

.advantagesAgain .li__second__child,.li__third__child{
    box-shadow: 0 0 8px #ebe7e7;
}
.advantagesAgain .li__first__child,.li__second__child,.li__third__child{
    display: flex;
    align-items: center;
}